@charset "UTF-8";


* {
	margin: 0;
	padding: 0;
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
}



html, body {
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

body {
	color: #0B1013;
	background-color: #E0E0E0;
}


.completion {
  background-color: rgb(255, 255, 255);
  padding: 60px;
  border-radius: 8px;
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  height:400px;
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}


.contents{
	background-color: #ffffff;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin-top: 30px;
    text-align: center;
    margin: auto;
}

h1 {
	background: #7c92ed; /*背景色*/
	padding: 0.5em;/*文字周りの余白*/
	color: white;/*文字を白に*/
	border-radius: 0.5em;/*角の丸み*/
}

h2, p {
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
}

/*背景*/
.bg_pattern {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #B5CAA0;
	opacity: 0.4;
	z-index: -1;
}


.Lines_v2 {
  background-image: linear-gradient(to right, #92a5f0, #92a5f0 10px,#ffffff 10px, #ffffff );
  background-size: 20px 100%;
}

#randomImage {
	display: none; /* 初期状態で非表示にする */
}

/*２段組み*/
.main {
	display: flex;
}

.containerA {
	margin: 20px 20px 0 20px;
	width: 800px;
	float: right;
}

.containerB {
	margin: 30px 30px 0px 30px;
}



.btn-container {
  text-align: center;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	margin: 0 auto;
	padding: .9em 2em;
	border: none;
	border-radius: 25px;
	background-color: #2E5C6E;
	color: #FBE251;
	font-weight: 600;
	font-size: 1em;
}

.button:hover {
	animation: anime-button .3s linear infinite;

  /* ボタンにカーソルを当てると、カーソルがポインターに変わる */
  cursor: pointer;
}

/* ボタンにカーソルを当てたとき、ボタンを半透明にする */
button:hover {
 opacity: 0.7;
}

/* ポップアップメッセージを隠す */
.hidden {
  display: none;
}

/* ポップアップメッセージを画面右下に配置 */
#btntext {
  height: 72px;
  padding: 8px 16px;
  border-radius: 8px;
  background: #ddd;
  font-weight: bold;
  text-align: center;
  line-height: 72px;
  position: fixed;
  right: 5%;
  bottom: 10%;
}

/* ポップアップアニメーションを3秒かけて実行 */
.popup-message {
  animation: popup 3s forwards;
}

@keyframes popup {
  0% {
    transform: translateY(15%);
    opacity: 0;
  }
  10%, 90% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: translateY(15%);
    opacity: 0;
    pointer-events: none;
  }
}



/* 要素を横に並べる*/
.split{
    display: table;
    width: 100%;    
}
.split-item{
    display: table-cell;
    padding: 80px;
    width: 50%;
}
.left{
    position: relative;
}
.left__inner{
    height: 100%;
    width: 40%;
}
.right__inner{
    height: 380px;
}



/*カレンダー*/
#calendar {
    text-align: center;
    width: 100%;
     background-color: white;
}
table {
    outline: 2px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}
th {
    color: #000;
}
th, td {
    outline: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
/*日曜日*/
td:first-child {
    color: red;
}
/*土曜日*/
td:last-child {
    color: blue;
}
/*前後月の日付*/
td.disabled {
    color: #ccc;
}
/*本日*/
td.today {
    background-color: #D65E72;
    color: #fff;
}

/*ボタン*/
#next-prev-button {
    position: relative;
}
#next-prev-button button{
    cursor: pointer;
    background: #B78D4A;
    color: #fff;
    border: 1px solid #B78D4A;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}
#next-prev-button button:hover{
    background-color: #D4BB92;
    border-color: #D4BB92;
}
#prev {
    float: left;
}
#next {
    float: right;
}

		
	