@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;700&display=swap');

* {
	margin:0;
	padding:0;
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

body {
	color: #0B1013;
    /* background-color: #E0E0E0;*/
}

/* 背景 */
.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #b5caa0;
  opacity: 0.4;
  z-index: -1;
}

 .Lines_v2 {
  background-image: linear-gradient(to right, #92a5f0, #92a5f0 10px,#ffffff 10px, #ffffff );
  background-size: 20px 100%;
}

h1 {
    text-align: center;
    font-size: 30px;
    border: solid 1px rgb(0, 0, 0);
    background-color: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
}

h4 {
    text-align: center;	
    padding: 50px 0 0 0;
}

form {
    background-color: rgb(255, 255, 255);
    padding: 60px;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin-top: 30px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

form input[type="text"], form input[type="password"] {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #0B1013;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: rgb(0, 0, 255);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s cubic-bezier(0.5, 1, 0.89, 1);
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
}

form input[type="submit"]:hover {
    background: rgb(0, 0, 255) ;
  	color: rgb(255, 255, 255);
  	transform: scale(1.1);
}

text {
	position: relative;
	top: 30px;
}

a {
    color: #0B1013;
    text-decoration: none;
    display: block;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

hr {
    margin: 20px 0;
    border-top: 1px solid #ddd;
}

.error-message {
    color: red;
}

.completion {
  background-color: rgb(255, 255, 255);
  padding: 60px;
  border-radius: 8px;
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 400px;
  height:400px;
  display: grid;
  place-items: center;
}


@media (max-width:900px) {
	h1{
		font-size: 7vw;
	}
	h4{
		font-size: 2.5vw;
	}
	
	form{
		width: 225px;
	}
}